NF_HEDM/bin/*
FF_HEDM/bin/*
FF_HEDM/Example/Indexer/*.bin
FF_HEDM/src/*.txt
FF_HEDM/Example/Peaks/Temp/
FF_HEDM/Example/Indexer/Ruby/
FF_HEDM/NLOPT/*
FF_HEDM/nlopt*
FF_HEDM/swift*
FF_HEDM/*.tmp
FF_HEDM/local/tc.data
FF_HEDM/local/sites.xml
FF_HEDM/Orthros/tc.data
FF_HEDM/Orthros/*.kml
FF_HEDM/Orthros/*.swiftx
FF_HEDM/local/*.kml
FF_HEDM/local/*.swiftx
FF_HEDM/zlib*
FF_HEDM/hdf5*
