NF_HEDM/bin/*
FF_HEDM/bin/*
NF_HEDM/Cluster/*.kml
NF_HEDM/Cluster/*.swiftx
FF_HEDM/Example/Au_FF*
FF_HEDM/Example/FolderNames.txt
FF_HEDM/Example/PFNames.txt
FF_HEDM/Example/RingInfo.txt
FF_HEDM/Example/run0*
FF_HEDM/Example/hkls.csv
FF_HEDM/Example/SpotMatrixGen.csv
FF_HEDM/Cluster/*.kml
FF_HEDM/Cluster/*.swiftx
TOMO/bin/*
DT/bin/*
NF_HEDM/*.o
gui/*.txt
gui/*.csv
gui/*.bin
utils/__pycache__
*/__pycache__
*/*/__pycache__
.vscode
.DS_Store
build
